/**
 * Global system styles
 */
.sp-container {
	position: relative;
	background-color: #111111;
	border: 1px solid #000000;
	display: inline-block;
	color: #666666;
	margin: 10px;
}

.sp-container-canvas {
}
