
/**
 * OOUI Tools
 */
.oo-ui-icon-play {
	background-image: url( 'images/tools/play.png' );
}

.oo-ui-icon-pause {
	background-image: url( 'images/tools/pause.png' );
}

.oo-ui-icon-zoomin {
	background-image: url( 'images/tools/zoom_in.png' );
}

.oo-ui-icon-zoomout {
	background-image: url( 'images/tools/zoom_out.png' );
}

.oo-ui-icon-tiltup {
	background-image: url( 'images/tools/tiltup.png' );
}

.oo-ui-icon-tiltdown {
	background-image: url( 'images/tools/tiltdown.png' );
}

.oo-ui-icon-grid {
	background-image: url( 'images/tools/grid.png' );
}

.sp-ui-ooui-sliderTool {
	background: url( 'images/tools/speed.png' ) no-repeat;
	padding-left: 28px;
}
